.mediaViewInfo {
	--web-view-name: ravi-panda;
	--web-view-id: ravi_panda;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ravi_panda;
}
* {
	margin: 0;
	padding: 0;

}
#ravi_panda {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 2361px;
	background-color: rgba(253,253,253,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: ravi-panda;
	--web-view-id: ravi_panda;
	--web-enable-deep-linking: true;
}
#Group_1 {
	position: absolute;
	width: 1082px;
	height: 325px;
	left: 355px;
	top: 225px;
	overflow: visible;
}
#Content_Store {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 228px;
	height: 61px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Rectangle_3 {
	opacity: 0.25;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1035px;
	height: 237px;
	left: 47px;
	top: 88px;
}
#Got_bulk_orders_or_almost_simi {
    position: absolute;
    left: 67px;
    top: 101px;
    overflow: hidden;
    width: 1001px;
    height: 157px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(166,166,166,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 44px;
	left: 67px;
	top: 259px;
}
.btn-outline-primary {
    border-color: #3ebcb3 !important;
    color: #3ebcb3 !important;
}
.btn-outline-primary:hover {
    background-color: #3ebcb3 !important;
    color: white !important;
}
#Group_3 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 406px;
	top: 628px;
	overflow: visible;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Blog_Article {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 111px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e_ {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_4 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 794px;
	top: 628px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Newsletter_E_mailer {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 181px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__1000 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 82px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_10 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_5 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_11 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_6 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 1182px;
	top: 628px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Whitepaper {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 111px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__2000 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 89px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_14 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_7 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_15 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_8 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 406px;
	top: 966px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#E_Book {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 111px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_17 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_18 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_9 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_19 {
	position: absolute;
		top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_10 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 794px;
	top: 966px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Report_guide {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 123px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_21 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_22 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_11 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_23 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_12 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 1182px;
	top: 966px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Product_Description {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 178px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_25 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_26 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_13 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_27 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_14 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 406px;
	top: 1304px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Website_content {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 150px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_29 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_30 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_15 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_31 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_16 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 794px;
	top: 1304px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Video_Script {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 111px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_33 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_34 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_17 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_35 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_18 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 1182px;
	top: 1304px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Company_profile__Brochure {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 164px;
	height: 51px;
	line-height: 19px;
	margin-top: -0.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_37 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 79px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_38 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_19 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_39 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Group_3_A0_Group_20 {
	position: absolute;
	width: 350px;
	height: 300px;
	left: 406px;
	top: 1642px;
	overflow: visible;
}
.Rectangle_5_A0_Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 350px;
	height: 300px;
	left: 0px;
	top: 0px;
}
.Ellipse_1_A0_Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 37px;
	top: 36px;
}
#Press_Release {
	position: absolute;
	left: 114px;
	top: 36px;
	overflow: hidden;
	width: 142px;
	height: 29px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(15,16,16,1);
}
#from__500_A0_Text_41 {
	opacity: 0.75;
	position: absolute;
	left: 114px;
	top: 65px;
	overflow: hidden;
	width: 76px;
	height: 22px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: rgba(15,16,16,1);
}
#Typically_450_400_words__an_e__A0_Text_42 {
	position: absolute;
	left: 37px;
	top: 117px;
	overflow: hidden;
	width: 266px;
	height: 71px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(166,166,166,1);
}
#Group_2_A0_Group_21 {
	position: absolute;
	width: 124px;
	height: 33px;
	left: 37px;
	top: 218px;
	overflow: visible;
}
.Rectangle_6_A0_Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 33px;
	left: 0px;
	top: 0px;
}
#Order_A0_Text_43 {
	position: absolute;
	top: 7px;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(154,180,172,1);
}
#Rectangle_1 {
	filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.161));
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1935px;
	height: 119px;
	left: 0px;
	top: 0px;
}
#Group_6 {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1737px;
	top: 27px;
	overflow: visible;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#AB {
	position: absolute;
	left: 14px;
	top: 13px;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -0.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Mask_Group_1 {
	position: absolute;
	width: 220px;
	height: 42px;
	left: 334px;
	top: 31px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 40px;
	height: 46.358px;
	left: 1646px;
	top: 29px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 40px;
	height: 46.358px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Icon_ionic_ios_notifications_o {
	position: absolute;
	width: 25.852px;
	height: 32.358px;
	left: 0px;
	top: 14px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	top: 28.631px;
	left: 9.61px;
	width: 6.583px;
	height: 3.727px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 25.852px;
	height: 27.295px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 12px;
	top: 0px;
}
#ID699 {
	position: absolute;
	left: 18px;
	top: 7px;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	line-height: 19px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	filter: drop-shadow(4px 0px 6px rgba(0, 0, 0, 0.161));
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 2379px;
	left: 0px;
	top: 0px;
}
#Icon_feather_grid {
	opacity: 0.8;
	position: absolute;
	width: 37.5px;
	height: 37.5px;
	left: 157px;
	top: 240px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18.75px;
	height: 18.75px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 22.917px;
	width: 18.75px;
	height: 18.75px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	top: 22.917px;
	left: 22.917px;
	width: 18.75px;
	height: 18.75px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	top: 22.917px;
	left: 0px;
	width: 18.75px;
	height: 18.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather_search {
	position: absolute;
	width: 37.5px;
	height: 37.5px;
	left: 157px;
	top: 329px;
	overflow: visible;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37.5px;
	height: 37.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	top: 28.438px;
	left: 28.438px;
	width: 14.955px;
	height: 14.955px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_material_store {
	overflow: visible;
	position: absolute;
	top: 418px;
	left: 157px;
	width: 37.5px;
	height: 33.333px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 1px;
	left: 212px;
	top: 218px;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 87px;
	left: 211px;
	top: 217px;
}
.Icon_awesome_twitter {
	overflow: visible;
	position: absolute;
	top: 2094.088px;
	left: 796px;
	width: 50px;
	height: 40.609px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_instagram {
	overflow: visible;
	position: absolute;
	top: 2092.422px;
	left: 1005.377px;
	width: 43.774px;
	height: 43.765px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_facebook_f {
	overflow: visible;
	position: absolute;
	top: 2084.305px;
	left: 1099.207px;
	width: 26.779px;
	height: 50px;
	transform: matrix(1,0,0,1,0,0);
}
.Icon_awesome_linkedin_in {
	overflow: visible;
	position: absolute;
	top: 2090px;
	left: 908px;
	width: 43.75px;
	height: 43.749px;
	transform: matrix(1,0,0,1,0,0);
}
#Copyright___2019_White_Panda_M {
    position: absolute;
    left: 759px;
    top: 2166px;
    overflow: hidden;
    width: 404px;
    height: 68px;
    line-height: 19px;
    margin-top: -0.5px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(166,166,166,1);
}
#Privacy_policy__Terms_of_servi {
    position: absolute;
    left: 672px;
    top: 2234px;
    overflow: hidden;
    width: 578px;
    height: 33px;
    line-height: 19px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(166,166,166,1);
    text-decoration: true;
}

.card:hover{
    box-shadow: rgba(0,0,0,0.4) 0px 10px 5px;
}
.card{
    border-radius: 5px;
}